* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: yellow;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero {
    margin: 0;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.navigation-bar {
    background: #343a40;
    z-index: 1;
    position: absolute;
    width: 100%;
    color: yellow;
}

.navigation-bar a {
    text-decoration: none;
    color: yellow;
    display: inline-block;
    font-size: large;
}

.navigation-bar a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: yellow;
    transition: width .3s;
}

.navigation-bar a:hover::after {
    width: 100%;
}

.logo {
    padding-left: 15px;
    padding-right: 15px;
    color: #343a40 !important;
    background: yellow;
}

.blackish {
    background: #343a40;
}

.btn {
    border: none;
    box-shadow: 1px 3px 5px #343a40;
    color: yellow;
}

.btn:hover,
.btn:focus {
    background: #343a40;
    box-shadow: 1px 3px 5px #343a40;
    color: yellow;
}

.form-control-lg {
    border: none;
    box-shadow: 1px 3px 5px #343a40;
    color: yellow;
    width: 50%;
}

.form-control-lg:focus {
    background: #343a40;
    color: yellow;
}

footer p {
    color: yellow;
    text-align: center;
    background: #343a40;
    padding: 15px
}

footer {
    margin-bottom: -17px;
}

.msg {
    display: none;
    position: absolute;
    margin-top: 190px;
    width: 100%;
    text-align: center;
}

@media(max-width: 780px){
    .form-control-lg{
        width: 100%;
    }
}